:root {
    --default-font: Arial, sans-serif;
    --font: var(--default-font);
    --bg-primary: #333;
    --bg-secondary: #444;
    --color-primary: #fff;
    --color-secondary: #000;
    --class-lesson-bg: #ddd;
    --class-no-lesson-bg: #888;
    --class-lecture: #bdd7ee;
    --class-exercise: #c6e0b4;
    --class-seminar: #f8cbad;
    --link-color: #a8cdff;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    box-sizing: border-box;
}

html, body {
    background-color: var(--bg-secondary);
}

a {
    color: var(--link-color);
}

body {
    display: grid;
    grid-template-rows: 60px 1fr;
    height: 100vh;
    height: -webkit-fill-available;
    overflow: hidden;
}

#menu-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-primary);
    color: var(--color-primary);
}

#panels {
    display: flex;
    width: 200%;
    overflow: hidden;
}

#panels.scroll-to-timetable {
    margin-left: -100%;
}

#panels > div {
    width: 100%;
    overflow: auto;
}

/* ------- */
/* General */
/* ------- */

button {
    background-color: #ddd;
    color: var(--color-secondary);
    padding: 12px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.V {
    background-color: var(--class-lecture);
}

.U {
    background-color: var(--class-exercise);
}

.S {
    background-color: var(--class-seminar);
}

/* --------- */
/* Timetable */
/* --------- */

#panel-timetable {
    display: grid;
    grid-template-rows: minmax(0, 1fr) auto;
}

#timetable {
    height: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: 50px repeat(5, 1fr);
    grid-template-rows: 40px repeat(13, 1fr);
    backface-visibility: hidden;
    transition: transform 1s;
}

#timetable-data {
    grid-row: 2 / 15;
    grid-column: 2 / 7;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(13, 1fr);
}

.timetable-entry-group {
    display: inline-grid;
    grid-gap: 2px;
}

.timetable-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    user-select: none;
    border-radius: 10px;
    text-align: center;
    color: var(--color-secondary);
}

.timetable-entry-group.narrow .timetable-entry span {
    transform: rotate(-90deg);
    width: 200px;
}

.timetable-drag-hint {
    background-color: #55dc55e7 !important;
    border: 3px dashed #15ae31;
}

.timetable-drag-hint.selected {
    background-color: #21760fe7 !important;
    border: 3px dashed #053d0f;
}

.entry-empty {
    background-color: var(--class-no-lesson-bg);
}

.timetable-entry.U {
    cursor: grab;
}

.timetable-date {
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.timetable-time {
    color: var(--color-primary);
    font-size: 20px;
    font-weight: bold;
    margin-top: -10px;
}

span.entry-title {
    font-weight: bold;
    text-decoration: none !important;
    display: block;
}

#dummy-drag-el {
    position: absolute;
    pointer-events: none;
    display: grid;
}

/* ------------- */
/* Course picker */
/* ------------- */

#course-picker-cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0 50px;
    color: white;
    backface-visibility: hidden;
    transition: transform 1s;
}

#timetable-edit-courses {
    width: 100%;
}

.flip-container {
    position: relative;
}

.backside {
    transform: rotate3d(0, 1, 0, 180deg);
}

.course-overview {
    display: flex;
    background-color: var(--class-lesson-bg);
    color: var(--color-secondary);
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
    justify-content: space-between;
}

.course-overview-content {
    padding: 10px;
}

.course-overview-header {
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.course-overview-btns {
    display: flex;
}

.course-overview-remove {
    display: flex;
    align-items: center;
    color: white;
    background-color: #e83a27;
}

.course-overview-course-type {
    display: inline-block;
    border-radius: 10px;
    background-color: #222;
    color: white;
    padding: 5px;
}

.course-overview-hour-count span {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
}

.course-overview.add-course {
    display: block;
    width: 100%;
    background-color: #56c556c2;
    color: white;
}

/* ------------- */
/* Media queries */
/* ------------- */

@media only screen and (min-width: 800px) {
    #course-picker-course-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        grid-gap: 10px;
    }
}

@media print {
    * {
        color: black !important;
    }
    
    body, #selection {
        background-color: white;
    }
    
    #timetable-menu-bar {
        display: none;
    }

    #menu-bar {
        background: none;
    }

    .timetable-entry {
        border: 1px solid black;
        box-shadow: inset 0 0 0 1000px #ddd;
    }

    .entry-empty {
        box-shadow: none;
        background: none;
    }

    #panels {
        margin-left: 0 !important;
        width: 100%;
    }

    #panel-course-picker {
        display: none;
    }
}
